@media (min-width: 1023px) and (max-width: 1300px) {
  .container__heaeder--search {
    display: none !important;
  }

  td {
    width: 99px !important;
  }

  .container__info--table {
    position: relative;
    left: -12px;
  }
  .container__content--item {
    margin-bottom: 80px;
  }

  .header__info {
    display: none !important;
  }

  .container__info--icon {
    margin-left: 6px !important;
    margin-bottom: 105px !important;
  }

  .container__sidebar--bot {
    margin-top: 0px;
  }

  .header__logo {
    flex-grow: 1;
  }

  .container__sidebar--bot {
    margin-left: -12px;
  }

  .container__sidebar--bot .sidebar__bot-img:nth-child(1)::before {
    left: 58px !important;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .row__content {
    margin-left: 50px !important;
    margin-top: 60px !important;
  }
  .header__search {
    display: none !important;
  }

  .header__logo {
    display: none !important;
  }
  .header__info--bell {
    margin-right: 6px;
  }
  .header__info {
    margin-left: 100px;
  }
  .container__sidebar {
    display: none !important;
  }
  .container__info--table {
    width: 182px;
  }
  .info__contact--img {
    margin-left: 25px;
  }
  .info__contact--icon {
    margin: 40px 26px -22px 0;
  }
  .info__contact--text {
    margin-left: -20px;
  }
  td {
    width: 80px !important;
    height: 80px !important;
  }
  .container__heaeder--search {
    display: none !important;
  }
  .content__header--nav {
    & ul {
      & li {
        margin: 0 -8px;
      }
    }
  }
  .container__info--icon {
    padding: 8px;
    width: 160px;
    margin-top: 22px;
    margin-left: 8px;
  }
  a.item--info {
    width: 240px;
    margin-left: 28px;
    margin-top: 8px;
  }

  .content__item--add {
    width: 240px;
  }
  .content__item--child {
    .item__child {
      width: 240px;
    }
  }
  .container__content {
    position: relative;
    & .container__content--footer {
      position: absolute;
      left: -174px;
    }
  }
  .container__content--item {
    margin-bottom: 70px;
  }
  .footer--header {
    display: none;
  }

  .footer--body {
    & .footer__body--item:nth-child(2) {
      display: none;
    }
  }
  .footer__body--item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    & i {
      margin-right: 18px;
      margin-top: 30px;
    }
    & img {
      margin-left: -22px;
    }
  }
  .container__content--footer {
    width: 160px;
  }
  .footer--footer {
    flex-direction: column;
    & p {
      width: 90px;
    }
    & > i {
      display: none;
    }
  }
  .fixmr {
    margin-left: 26px !important;
  }
  .fixp {
    margin-left: -2px;
  }
  #div-js {
    width: 241px !important;

    & button {
      margin-left: 66px !important;
    }
  }
  #avts {
    position: absolute;
    left: 12px !important;
  }
  .modal__header {
    padding: 60px 22px !important;
    & p {
      font-size: 2.4rem !important;
    }
  }
  #closeMD {
    position: relative;
    top: -8px;
    font-size: 3.4rem;
  }
  input.des {
    font-size: 2.4rem !important;
  }
  .modal__container input {
    padding-bottom: 200px;
  }

  .modal__footer p {
    font-size: 2.2rem;
    font-weight: 700;
  }
  label#avt {
    font-size: 1.7rem;
  }
  .modal__footer #avt img {
    display: block;
    width: 50px;
    height: 44px;
  }
}
@media (max-width: 740px) {
  .header__menu {
    display: none !important;
  }
  .header__logo {
    display: none !important;
  }
  .header__search {
    display: none !important;
  }
  .header__info--close {
    margin-left: 22px;
  }
  .container__sidebar {
    display: none !important;
  }
  td {
    width: 170px !important;
    height: 111px !important;
  }
  .container__heaeder--search {
    display: none !important;
  }
  .container__content--header {
    display: none;
  }
  .content__item--add {
    width: 90%;
    margin: auto;
  }
  .item--info {
    width: 90%;
    margin-left: 20px;
    margin-top: 12px;
  }
  .container__content--footer {
    display: none;
  }
  .item__child {
    width: 90%;
    margin-left: 20px;
  }
  .container__content {
    margin-left: 42px;
    padding: 0 4px;
    max-width: calc(100% - 20px);
  }
  .container__content--item {
    margin-left: -8px;
  }
  #div-js {
    left: 20px !important;
    top: 15px !important;
  }
  .container__info--table {
    display: none;
  }
  .container__info--icon {
    margin-top: 20px;
  }
  .content__item--add {
    margin: 30px 20px;
  }
  .auth__form {
    max-width: 400px;
  }
}
